[View in Colaboratory](https://colab.research.google.com/github/janilles/dfdapp/blob/master/dfd_risk_levels.ipynb)

# Drink Free Days app 
# RISK LEVELS ANALYSIS
Looking at the reduction in alcohol units consuption and subsquent risk levels reduction among Drink Free Days app users.


## App user definition
We're looking at users who have joined in the first 3 days of the campaign and were last seen using the app on or after the end the first week of the campaign. Campaign launch date was 10 September 2018.

## Questions answered in this notebook

- **How many users have reduced their risk level** (and/or alcohol unit consumption) and by how much - before and after using the app?
  - 'Before' values are taken from the user's typical week, i.e. what they told us in the app about how much they drink in a typical week.
  - 'After' values are typical week days minus drink free days achieved in any or all four weeks after the campaign lauch. (For example, when a user confirms in the app they had a drink free day on Monday then for that week Monday's values taken from their typical week will be zero.)
  - It may be the case that users record a drink free day on a day they do not drink anyway in a typicl week but that does not impact this analysis.
- **Shifts in higher/increasing/lower risk levels** before using the app (i.e. from a typical week) and after using the app (i.e. any or all four weeks after campaign launch).
  - When a user stopped using the app in the four week period we're looking at then they are assumed to have gone back to their typical week behaviour. 
- **How many users in our target demographic** of 39-60 year olds have reduced their alcohol units consuption?

## Data set
Relational database behind the app - RDS instance on AWS.

# Credentials to run the notebook

## Google Drive authentication (optional)
NOTE: If login credentials are hardcoded into the database connection (code cell below) this step in not necesary. Otherwise: 

Install and authenticate [PyDrive](https://pythonhosted.org/PyDrive/index.html) for loading files from Google Drive so that database passwords aren't hardcoded into the notebook.

In [0]:
# added -q for suppressing output
!pip install -U -q PyDrive

# see PyDrive documentation for libraries code snippets
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

## Database connection
- Connecting to AWS RDS database with [PyMySQL](https://pymysql.readthedocs.io/en/latest/user/examples.html).
- Retruning MySQL queries as Pandas dataframes with [```read_sql()``` ](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html) function.

In [0]:
# added -q for suppressing output
!pip install -q -U pymysql

import pymysql
import pandas as pd

In [0]:
# comment out the other user/options when running this cell as necessary

# Jan's file - 'id' is Google Drive file ID
passwd_file = drive.CreateFile({'id': '1YnGugBHvqjJk0nbTqN-683Agb0vaZKHo'}) 

# this variable is used in the connect function below
user_passwd = passwd_file.GetContentString()

# If you're not using Google Drive file but are hardcoding the password
# user_passwd = password as a string

In [0]:
def connect():

    return pymysql.connect(
        
        host = "df-phereplica3.crqbvr0pveqx.eu-west-1.rds.amazonaws.com",
        
        # change user name and password as necessary
           
        user = "jan",

        passwd = user_passwd, # assigned in the cell above
   
        db = "daysoff",
        
        autocommit=True

        )

connection = connect()

def sql_to_df(sql):
    """
    Returns MySQL queries as Pandas dataframes.
    """
    return pd.read_sql(sql, con = connection)

# Database tables used (optional)
Overview of avaliable data and tables used in the MySQL queries below. 
See [MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/introduction.html) for MySQL syntax.

In [0]:
# formatting column width of Pandas dataframes
# increase column width so that longer comments don't get truncated

pd.set_option('max_colwidth',100)

### App users table

In [0]:
# run pd.set_option('max_colwidth',100) if comments column gets truncated

sql_to_df("""
        SELECT
            table_name, column_name, data_type, column_comment
        FROM
            information_schema.columns
        WHERE
            table_name = 'g_appusers'
        """)

### Drinks table

In [0]:
# run pd.set_option('max_colwidth',100) if comments column gets truncated

sql_to_df("""
        SELECT 
            table_name, column_name, data_type, column_comment
        FROM
            information_schema.columns
        WHERE
            table_name = 'g_appdrinks'
        """)

### Days off table

In [0]:
# run pd.set_option('max_colwidth',100) if comments column gets truncated

sql_to_df("""
        SELECT
            table_name, column_name, data_type, column_comment
        FROM
            information_schema.columns
        WHERE
            table_name = 'g_appdaysoff'
        """)

# Report generation
- Write MySQL queries as long strings inside ```sql_to_df()``` function.  See [MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/introduction.html) for MySQL syntax reference.
- ```sql_to_df()``` returns Pandas dataframes.

### Users by day
Filtering of users (i.e. WHERE condition) explained:
- ```gender LIKE '%ale'``` is data cleaning to filter out empty values since gender is necesary for calculating risk levels
- age range: 18 (the minimum the app accepts) seems to have too many fake values and the upper cuts off outliers
- ```joined >= '2018-09-10'``` to only include app users who joined on or after the campaign start date
- ```lastseen >= '2018-09-16'``` to only include app users who have recoded some activity on (or after) seven days from the campaign launch (10 Sep 2018) so we can assume that they are using the app

**NB:** MySQL week starts on Sunday by default so: 
- ```week(lastseen)```  counts weeks from Sundays
- ```week(lastseen, 1)``` counts weeks from Monday

In [0]:
# 'typical day' is needed for matching units to deduct 
# from drink free days recorded by a user
# Alcohol units calculation = (percent * ml)/ 1000

usersByDay = sql_to_df("""
        SELECT 
            U.id,
            gender,
            age,
            WEEK(lastseen, 1) AS last_week, -- MySQL week begins with Sunday by default
            day AS typical_day, -- days with no drinks in them are not recorded in database
            SUM((percent * ml)/ 1000) AS typical_units
        FROM
            g_appusers U
        LEFT JOIN g_appdrinks D
            ON U.id=D.id            
        WHERE
            gender LIKE '%ale' -- to exclude empty values
            AND
            age BETWEEN 19 AND 79 -- 18 has too many fake values, 80+ are outliers
            AND
            joined >= '2018-09-10' -- campaign start date
            AND
            lastseen >= '2018-09-16' -- at least a week from campaign launch (Monday-Sunday)
            AND
            day IS NOT NULL -- data cleaning, there were some users 'None' typical days
        GROUP BY 
            U.id, typical_day -- to sum up multiple drinks and get total units for each day
        """)

usersByDay.head()

In [0]:
usersByDay['id'].nunique()

### Users by week

In [0]:
usersByWeek = usersByDay.groupby(['id', 
                                  'gender', 
                                  'age', 
                                  'last_week'], as_index=False).sum()

usersByWeek.head()

### Risk in a typical week

- Defining a ```riskCalculator``` function (see docstring in code cell below for details).  
- Applying ```riskCalculator``` to every row of dataframe

#### Function definition for risk calculation
To understand the purppose of the function consider the following alternative solution for inserting the appropirate values into a new column (risk0 in this case) for just the first one of the conditions for just this week:  
```usersBefore.loc[usersBefore['week0'] < 15, 'risk0'] = 'lower'```   

The ```riskCalculator``` function can be used in a for loop to iterate over the four weeks in one go (see 'Calculating risk for each week' section further below.)

In [0]:
def riskCalculator(row, unitsColName):
    """
    Calculates risk level from alcohol units and gender 
    based on conditions for the three risk categories.
    
    Args:
        row: Used in lambda function when riskCalculator is applied to dataframe rows.
        unitsColName (str): Name of column with alcohol units values used in calculation.
        
    Returns:
        Risk level value as a string. 
        
    Raises:
        ValueError: If some row doesn't satisfy any of the if-elif conditions.
    """
    
    if row[unitsColName] < 15: 
        
        return 'lower'
        
    elif ((row['gender'] == 'Male') & 
          (15 <= row[unitsColName] < 50)):
        
        return 'increasing'
        
    elif ((row['gender'] == 'Female') & 
          (15 <= row[unitsColName] < 35)):
        
        return 'increasing'
        
    elif ((row['gender'] == 'Male') & 
          (row[unitsColName] >= 50)):
        
        return 'higher'
        
    elif ((row['gender'] == 'Female') & 
          (row[unitsColName] >= 35)):
        
        return 'higher'
        
    else:
        raise ValueError(
            'Some row doesn\'t meet any of the if-elif conditions in riskCalculator.'
        ) # error message also returns row index number

In [0]:
# applying riskCalculator to every row

usersByWeek['typical_risk'] = usersByWeek.apply(lambda row: 
                                                riskCalculator(row, 'typical_units'), 
                                                axis=1)

usersByWeek.head()

### Drink free days recorded by users
Selecting form the 'days off' table which holds the drink free days recorded by users. Only positive answers to "Did you have a drink free day yesterday?" are recorded in this table.

**NB:** MySQL week starts on Sunday by default so: 
- ```week(date)```  counts weeks from Sundays

- ```week(date, 1)``` counts weeks from Monday

In [0]:
# week numbers are used in subsequent calculations so
# we need to make sure weeks start on Monday i.e. week(date, 1) 
# not Sunday which is MySQL default i.e. week(date)
# same WHERE conditions for users's table as in the users selsection

drinkFreeDays = sql_to_df("""
        SELECT 
            O.id,  
            DAYNAME(date) AS drink_free_day, 
            WEEK(date, 1) AS week_number -- week of drink free day
        FROM 
            g_appdaysoff O
        JOIN g_appusers U
            ON O.id=U.id            
        WHERE
            date >= '2018-09-10' -- campaign start date
            AND
            gender LIKE '%ale' -- to exclude empty values
            AND
            age BETWEEN 19 AND 79 -- 18 has too many fake values, 80+ are outliers
            AND
            joined >= '2018-09-10' -- campaign start date
            AND
            lastseen >= '2018-09-16' -- at least a week from campaign launch (Monday-Sunday)
        ORDER BY
            O.id, week_number
        """)

drinkFreeDays.head(10)

In [0]:
drinkFreeDays['id'].nunique()

#### Percentage of users achieving at least 1 drink free day (just as an aside)

In [0]:
# aside: percent of users achieving at least one drink free day
round((drinkFreeDays['id'].nunique() / usersByDay['id'].nunique())*100, 1)

### Matching drink free days recorded with their corresponding alcohol units for each user

In [0]:
# grouping drink free days achieved with their typical days (typical_units)
# to calculate how many units have to be deducted from a typical week
# for each drink free day recorded for each user in each week

unitsDeductions = pd.merge(usersByDay, drinkFreeDays, 
                           # inner join to exclude drink free days achieved
                           # on a day a user doesn't drink in a typical week anyway
                           # usersByDay only includes typical days with drinks
                           how='inner',  
                           left_on=['id', 'typical_day'],
                           right_on=['id', 'drink_free_day'])

# after the merge values column 'typical_units'
# are the units to deduct for that day
# hence column renaming
unitsDeductions.rename(columns={"typical_units": "units_to_deduct"}, inplace=True)

unitsDeductions.sort_values('id').head(10)

### Units reductions by week for each user

In [0]:
unitsReductionByWeek = unitsDeductions.groupby(['id',
                                                'gender',
                                                'age',
                                                'last_week',
                                                'week_number'], 
                                                as_index=False)['units_to_deduct'].sum()

unitsReductionByWeek.sort_values('id').head(10)

In [0]:
# adding back the total typical units per week
# and typical risk column
unitsReductionByWeek = pd.merge(unitsReductionByWeek, usersByWeek, 
                                how='right',
                                left_on=['id', 'gender', 'age', 'last_week'],
                                right_on=['id', 'gender', 'age', 'last_week'])

unitsReductionByWeek.head(10)

##### Sum of units for all users not drunk in each week (just as an aside)

In [0]:
# how many units NOT drunk in each week

unitsReductionByWeek.groupby('week_number', as_index=False)['units_to_deduct'].sum()

##### Sum of drink free days for all users in each week (just as an aside)

In [0]:
# how many drink free days in each week

unitsReductionByWeek.groupby('week_number', as_index=False)['id'].count()

### Units reduction for each week for each user

#### Function definition for weekly reductions

In [0]:
def reductions(df=unitsReductionByWeek, 
               col_units='units_to_deduct', 
               col_week='week_number'):
    
    # adjust range (of week numbers) as desired
    for i in range(37,42):
        wk_num = str(i)
        col_name = f"reduction_{wk_num}"
        df.loc[df[col_week] == int(i), col_name] = df[col_units]
        df.fillna(0, inplace=True)
    
    return df

### Reductions for each week for each user

In [0]:
result = reductions()

result.head(10)

In [0]:
result = result.groupby(['id',
                          'gender',
                          'age',
                          'last_week',
                          'typical_units', 
                          'typical_risk'], 
                         as_index=False)['reduction_37', 
                                         'reduction_38', 
                                         'reduction_39', 
                                         'reduction_40', 
                                         'reduction_41'].sum()

result.head(10)

### Units in each week for each user

**NB: ** Users who were last seen in e.g. the first week of the campaign will get typical week values for subsequent weeks. We thereby assume they went back to their typical weeks.

#### Function definition for weekly units calculation

In [0]:
def units_for_weeks(df=result, 
                    typ_units='typical_units'):
   
    for i in range(37, 42):
        wk_num = str(i)
        col_name = f"week_{wk_num}"
        df[col_name] = (df[typ_units] - df[f"reduction_{str(i)}"])
        
    return df

In [0]:
result = units_for_weeks()

result.head(10)

### Risk for each week for each user

In [0]:
risk_cols = []
week_cols = []

for i in range(37,42):
    risk_cols.append(f"risk_{i}")
    week_cols.append(f"week_{i}")
    dictionary = dict(zip(risk_cols, week_cols))

    for risk, week in dictionary.items():
        result[risk] = result.apply(lambda row: 
                                    riskCalculator(row, week), 
                                    axis=1)

result.head(10)

### Export result to CSV

In [0]:
# from google.colab import files

# result.to_csv('dfd_risk_levels.csv')
# files.download('dfd_risk_levels.csv')

# Slicing the results

## Risk level shifts over weeks
Users who stopped using the app earlier than this period are assumed to have returned to their typical weeks behaviour.

In [0]:
riskShifts = result.groupby(['typical_risk']+risk_cols, as_index=False)['id'].count()

riskShifts.head()

In [0]:
higherSum = riskShifts[riskShifts['typical_risk'] == 'higher']['id'].sum()
increasingSum = riskShifts[riskShifts['typical_risk'] == 'increasing']['id'].sum()

In [0]:
def shifts(row):
    
    if row['typical_risk'] == 'higher':
        return (row['id'] / higherSum *100)
        
    elif row['typical_risk'] == 'increasing':
        return (row['id'] / increasingSum *100)
        
    else:
        return 100

In [0]:
riskShifts['% of category'] = round((riskShifts.apply(lambda row: 
                                                      shifts(row), 
                                                      axis=1)), 1)

riskShifts.head()

In [0]:
riskShifts[riskShifts['typical_risk'] == 'increasing'].head()

## 39-60

In [0]:
df3960 = result[(result['age'] > 38) & (result['age'] <= 60)]

len(df3960)

In [0]:
 any3960 = df3960[(df3960['reduction_37'] > 0) | 
                  (df3960['reduction_38'] > 0) | 
                  (df3960['reduction_39'] > 0) |
                  (df3960['reduction_40'] > 0) |
                  (df3960['reduction_41'] > 0)]
    
len(any3960)

In [0]:
# percentage of those reducing their units consuption
round(len(any3960) / (len(df3960)/100), 1)

In [0]:
df3960.groupby('typical_risk')['id'].count()

In [0]:
df3960Shifts = df3960.groupby(['typical_risk']+risk_cols, as_index=False)['id'].count() 

df3960Shifts.head()

In [0]:
df3960Shifts['% of category'] = round((df3960Shifts.apply(lambda row: 
                                                          shifts(row), 
                                                          axis=1)), 1)

df3960Shifts.head()

In [0]:
df3960Shifts[df3960Shifts['typical_risk'] == 'increasing'].head()